on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main
    tags:
      - 'v*'

name: Build renameat2

jobs:
  manylinux:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: true
      matrix:
        python:
          - cp36-cp36m
          - cp37-cp37m
          - cp38-cp38
          - cp39-cp39
        arch:
          - x86_64
          - i686
          - aarch64

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build manylinux wheel
        run: |
          set -euo pipefail

          if [ "$ARCH" = "aarch64" ]; then
            export BASEPLAT=manylinux2014
          fi

          docker-compose -f builder/docker-compose.yml build --pull
          docker-compose -f builder/docker-compose.yml run manylinux build-wheel.sh
        env:
          WHICH_PYTHON: ${{ matrix.python }}
          ARCH: ${{ matrix.arch }}

      - uses: actions/upload-artifact@v2
        if: github.event_name == 'push'
        with:
          name: ${{ matrix.python }}-${{ matrix.arch }}
          path: dist/*.whl


  sdist:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build sdist
        run: |
          set -euo pipefail

          docker-compose -f builder/docker-compose.yml build --pull
          docker-compose -f builder/docker-compose.yml run manylinux /opt/python/cp36-cp36m/bin/python3 setup.py sdist

      - uses: actions/upload-artifact@v2
        if: github.event_name == 'push'
        with:
          name: sdist
          path: dist/*.tar.gz


  pypi:
    runs-on: ubuntu-20.04
    if: github.event_name == 'push'

    needs:
      - manylinux
      - sdist

    steps:
      - uses: actions/download-artifact@v2
        with:
          path: ./artifacts

      - name: Rearrange artifacts
        run: |
          mkdir -p dist
          mv ./artifacts/*/* dist/

      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
          skip_existing: true

      - name: Publish package to PyPI
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
